@import 'bootstrap';

body{
    background: black;
}
.bg-col{
    background-color: rgba(255, 255, 255, 0.6) !important;
    backdrop-filter: blur(5px);
    margin: 10px !important;
    padding: 25px 0 !important;
    border-radius: 15px !important;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.548);
    display: inline-block !important;
}
h2{
    border-bottom: 2px solid rgba(128, 128, 128, 1);
    padding-bottom: 18px !important;
    font-size: 35px !important;
    text-align: center !important;
}
p{margin: 0; font-size: 20px; text-shadow: 1px 1px rgba(255, 255, 255, 0.24);}
*{transition: all 0.3s ease;}